body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.site-footer {
background-image: linear-gradient(#CEC8FF, white);
padding: 20px 0;
}

.jumbotron {
margin: 0;
padding: 30px;
background-image: linear-gradient(to right, #01837D, #13A9C7, #55326F);
color: white;
}

.jumbotron h4 {
  font-family: script;
}

.navbar {
background-color: #FFF;
color: #000;
}

.pastoral,
.pastoral:hover {
  color: black;
  text-decoration: none;
  text-decoration: underline;
}

.letter {
  padding: 10px 20px;
}